<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>examshopping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminShowProductListServlet</display-name>
    <servlet-name>AdminShowProductListServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AdminShowProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowProductListServlet</servlet-name>
    <url-pattern>/adminShowProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowAddProductServlet</display-name>
    <servlet-name>AdminShowAddProductServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AdminShowAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowAddProductServlet</servlet-name>
    <url-pattern>/adminShowAddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductServlet</display-name>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AdminAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <url-pattern>/adminAddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowEditProductServlet</display-name>
    <servlet-name>AdminShowEditProductServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AdminShowEditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowEditProductServlet</servlet-name>
    <url-pattern>/adminShowEditProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditProductServlet</display-name>
    <servlet-name>AdminEditProductServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AdminEditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProductServlet</servlet-name>
    <url-pattern>/adminEditProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteAllProductServlet</display-name>
    <servlet-name>AdminDeleteAllProductServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AdminDeleteAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteAllProductServlet</servlet-name>
    <url-pattern>/adminDeleteAllProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteProductServlet</display-name>
    <servlet-name>AdminDeleteProductServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AdminDeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteProductServlet</servlet-name>
    <url-pattern>/adminDeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchProductListServlet</display-name>
    <servlet-name>AdminSearchProductListServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AdminSearchProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchProductListServlet</servlet-name>
    <url-pattern>/adminSearchProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowProductListByLimitServlet</display-name>
    <servlet-name>AdminShowProductListByLimitServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AdminShowProductListByLimitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowProductListByLimitServlet</servlet-name>
    <url-pattern>/adminShowProductListByLimit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientShowAllProductServlet</display-name>
    <servlet-name>ClientShowAllProductServlet</servlet-name>
    <servlet-class>com.lixinxin.web.ClientShowAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientShowAllProductServlet</servlet-name>
    <url-pattern>/clientShowAllProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientShowProductServlet</display-name>
    <servlet-name>ClientShowProductServlet</servlet-name>
    <servlet-class>com.lixinxin.web.ClientShowProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientShowProductServlet</servlet-name>
    <url-pattern>/clientShowProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientAddCarServlet</display-name>
    <servlet-name>ClientAddCarServlet</servlet-name>
    <servlet-class>com.lixinxin.web.ClientAddCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientAddCarServlet</servlet-name>
    <url-pattern>/clientAddCar</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1440</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ClientDeleteCarServlet</display-name>
    <servlet-name>ClientDeleteCarServlet</servlet-name>
    <servlet-class>com.lixinxin.web.ClientDeleteCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientDeleteCarServlet</servlet-name>
    <url-pattern>/clientDeleteCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuitServlet</display-name>
    <servlet-name>QuitServlet</servlet-name>
    <servlet-class>com.lixinxin.web.QuitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitServlet</servlet-name>
    <url-pattern>/quitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckImgServlet</display-name>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.lixinxin.web.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.lixinxin.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AutoLoginFilter</display-name>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>com.lixinxin.web.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.lixinxin.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/loginServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ClientBuyServlet</display-name>
    <servlet-name>ClientBuyServlet</servlet-name>
    <servlet-class>com.lixinxin.web.ClientBuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientBuyServlet</servlet-name>
    <url-pattern>/clientBuy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientPayServlet</display-name>
    <servlet-name>ClientPayServlet</servlet-name>
    <servlet-class>com.lixinxin.web.ClientPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientPayServlet</servlet-name>
    <url-pattern>/clientPay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderListServlet</display-name>
    <servlet-name>ShowOrderListServlet</servlet-name>
    <servlet-class>com.lixinxin.web.ShowOrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderListServlet</servlet-name>
    <url-pattern>/showOrderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.lixinxin.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserServlet</display-name>
    <servlet-name>CheckUserServlet</servlet-name>
    <servlet-class>com.lixinxin.web.CheckUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserServlet</servlet-name>
    <url-pattern>/checkUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.lixinxin.web.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientSearchProductListServlet</display-name>
    <servlet-name>ClientSearchProductListServlet</servlet-name>
    <servlet-class>com.lixinxin.web.ClientSearchProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientSearchProductListServlet</servlet-name>
    <url-pattern>/clientSearchProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminShowCategoryListServlet</display-name>
    <servlet-name>AdminShowCategoryListServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AdminShowCategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowCategoryListServlet</servlet-name>
    <url-pattern>/adminShowCategoryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderServlet</display-name>
    <servlet-name>ShowOrderServlet</servlet-name>
    <servlet-class>com.lixinxin.web.ShowOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderServlet</servlet-name>
    <url-pattern>/showOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCarServlet</display-name>
    <servlet-name>ShowCarServlet</servlet-name>
    <servlet-class>com.lixinxin.web.ShowCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCarServlet</servlet-name>
    <url-pattern>/showCar</url-pattern>
  </servlet-mapping>
</web-app>